

// mobile-menu
$background-color: #fff;
$mobile-menu-item-color-active: #7E7E82;
$mobile-menu-vertical-line-color: #41F6D7;

// post
$title-color: #1B1C21;
$text-color: #1B1C21;
$item-color: #7E7E82;
$item-color-active: #B8FFEC;
$item-background-color-active: #fff;


$background-primary: #F8F8F8;
$btn-background-primary: rgba(0, 0, 0, 0);
$circle-btn-primary: #FF3E79;

// btn
$btn-background-alpha: rgba(0, 0, 0, 0);
$btn-color-primary: #fff;
$btn-background-primary: #FF3E79;

// preloader color
$preloader-start-color-primary: #26cbf5;
$preloader-end-color-primary: #af27eb;
$preloader-item-color: #fff;

// noscript color
$noscript-start-color-primary: #26cbf5;
$noscript-end-color-primary: #af27eb;
$noscript-color-primary: #fff;


// menu color
$title-color-primary: #1B1C21;
$menu-color-primary: #fff;
$btn-background-primary: #FF3E79;
$btn-color-primary: #fff;
$vertical-line-color: #41F6D7;
$menu-shadow-start-color: rgba(14, 24, 80, 0.2);
$menu-shadow-end-color: rgba(69, 79, 126, 0.02);

// box
$table-background-primary: #fff;
$row-color-primary: #fff;
$col-color-primary: #1B1C21;
$row-border-color: #EAEAEA;
$title-color: #7E7E82;

// header
$header-color-primary: #fff;
$vertical-line-color-primary: #EAEAEA;

// hamburger-menu
$vertical-line-color-primary: #fff;

// footer
$border-color-primary: #D9FFF5;
$text-color-primary: #7E7E82;
