@import 'submit/submit.scss';
@import 'title/title.scss';

.phone-menu {
    display: flex;
    justify-content: flex-end;
}

.phone-menu--hidden {
    border: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    clip: react(0 0 0 0);
    clip-path: inset(50%);
}

.phone-menu__content {
    position: absolute;
    width: 440px;
    background-color: $menu-color-primary;
    right: 0;
    height: 100%;
    box-shadow: 
        16px 0px 52px $menu-shadow-start-color,
        -2px 0px 4px $menu-shadow-end-color;
}

.phone-menu__btn-circle {
    margin-left: -77px;
    margin-top: 32px;
}

.overlay {
    opacity: .96;
    background-color: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
}

@media screen and (min-width: 514px) {
    .phone-menu__btn-circle {
        position: absolute;
    }
}

@media screen and (min-width: 200px) and (max-width: 513px) {
    .phone-menu__btn-circle {
        margin-top: 24px;
        margin-left: 16px;
    }

    .phone-menu__content {
        width: 100%;
    }
}
