@import 'wrapper/wrapper.scss';

.slider {
    width: 100%;
}

.main__slider {
    box-sizing: border-box;
    margin-top: 24px;
    margin-bottom: 50px;

}

.main__header {
    background-image: linear-gradient(to right, rgba(248, 248, 248, 0) 0%, #fff 100%);
    padding: 16px 0 16px 32px;
    margin-bottom: 16px;
    border-top: 1px solid #D9FFF5;
    border-bottom: 1px solid #D9FFF5;
}

.header__text {
    text-transform: uppercase;
    font-family: "TT Lakes Regular";
    font-size: 16px;
    color: #7E7E82;
}

.slider__btn-readmore {
    margin-top: 8px;
    margin-left: 39px;
}

.swiper-container {
    position: relative;
    margin-bottom: 52px;
    box-sizing: border-box;
}

.swiper-pagination {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 12px;
    display: none;
    justify-content: center;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

.swiper-pagination-bullet:not(:last-child) {
    margin-right: 12px;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

@media screen and (min-width: 320px) and (max-width: 360px) {
    .slider-wrapper {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .swiper-pagination {
        display: flex;
    }
}

@media screen and (min-width: 361px) and (max-width: 600px) {
    .slider-wrapper {
        justify-content: center;
    }
}

