.slider__img--logo--lenovo {
    width: 108px;
    height: 32px;
}

.slider__img--logo--samsung {
    width: 116px;
    height: 38px;
}

.slider__img--logo--apple {
    width: 44px;
    height: 44px;
}

.slider__img--logo--viewSonic {
    width: 128px;
    height: 21px;
}

.slider__img--logo--bosch {
    width: 128px;
    height: 28px;
}

.slider__img--logo--hp {
    width: 52px;
    height: 52px;
}

.slider__img--logo--acer {
    width: 94px;
    height: 24px;
}

.slider__img--logo--sony {
    width: 128px;
    height: 25px;
}
